mixin picture-link(host, url)
  div(id='#{host}')
    div.hidden.link.url
      p.link-title=url
    img(src='/images/#{host}.jpg', alt=':(').link.image

mixin pdf-link(title, text)
  div(id='#{title.toLowerCase()}')
    div.hidden.link.url
      p.link-title=text
    img(src='/images/#{title}.jpg', alt=':(').link.image
  
block connect
  div#connect-content.hidden.content
    table#links
      tbody
        tr
          td
            +picture-link('github', 'github.com/ lilyseropian')
          td
            +picture-link('linkedin', 'linkedin.com/ in/lilyseropian')
          td
            +pdf-link('Resume', 'Resume')
        tr
          td
            +pdf-link('CV', 'CV')
          td
            +pdf-link('email', 'lilyseropian@ gmail.com')